#red{
    color:red
}

#bule{
    color:blue
}

#orange{
    color:orange
}

#green{
    color:green
}

#yello{
    color:yellow
}

.color-title{
    font-weight: lighter;
}

img{
    height: 200px;
    width: 200px;
}